@model ClientSideDevelopment.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns">
        <h1>Film Site <small>Managing your favourite films.</small></h1>
    </div>
</div>

<div class="row">
    <div class="large-3 columns">
        <div>
            <form id="addNewMovie" data-abide="ajax">
                <div>
                    <label>
                        Title: <small>required</small>
                        <input type="text" id="movieTitle" name="movieTitle" required />
                    </label>
                    <small class="error" data-error-message>Movie title is required.</small>
                </div>
                <div>
                    <label>
                        Release Year: <small>required</small>
                        <input type="text" id="releaseYear" name="releaseYear" required pattern="\d{4}" />
                    </label>
                    <small class="error" data-error-message>Release year is required (YYYY).</small>
                </div>
                <div>
                    <label>
                        Rating:
                        <select id="rating" name="rating">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </label>
                </div>
                <button type="submit">Add new movie</button>
            </form>
        </div>
    </div>
    <div class="large-9 columns">
        <table id="movie-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.ReleaseYear</td>
                        <td>@movie.Rating</td>
                        <td><a href="#" class="details" data-title="@movie.Title"><i class="fi-magnifying-glass" title="Related titles..."></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="related-titles" class="reveal-modal" data-reveal>
            <h2 id="source-title"></h2>
            <p>Because you liked this film, you may also like...</p>
            <a class="close-reveal-modal">&#215;</a>
        </div>
    </div>
</div>

<footer class="row">
    <div class="large-12 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
    </div>
</footer>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#addNewMovie").on("valid", function (event) {
                var data = {
                    movieTitle: $('#movieTitle').val(),
                    releaseYear: $('#releaseYear').val(),
                    rating: $('#rating').val()
                };

                $.ajax({
                    url: "/Home/AddNewMovie",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (response) {
                        if (response.success === true) {
                            $("#movie-table").append("<tr><td>" + data.movieTitle + "</td><td>" + data.releaseYear + "</td><td>" + data.rating + "</td><td><a href='#' class='details' data-title=" + data.movieTitle + "><i class='fi-magnifying-glass' title='Related titles...'></i></a></td></tr>");
                            $('#movieTitle').val("");
                            $('#releaseYear').val("");
                            $('#rating').val($("#rating option:first").val());
                        }
                    }
                });

                event.preventDefault();
            });

            $("a.details").on("click", function () {
                $("#source-title").text($(this).data("title"));
                $('#related-titles').foundation('reveal', 'open');
            });

            $(document).on('opened', '[data-reveal]', function () {
                var title = $("#source-title").text();
            });

        });
    </script>
}