@model ClientSideDevelopment.ViewModels.Home.IndexViewModel
@{   
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="movie-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Year</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model.Movies)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.ReleaseYear</td>
                @if (movie.Director != null)
                {
                    <td>@movie.Director.FirstName @movie.Director.Surname</td>
                }
            </tr>   
        }
    </tbody>
</table>

<button onclick="addNewMovie()">Add New Movie</button>

<div id="addNewMovie" style="display: none">
    <form>
        <label for="movieTitle">Title:
            <input type="text" id="movieTitle" name="movieTitle" />
        </label>
        <label for="releaseYear">Release Year:
            <input type="text" id="releaseYear" name="releaseYear" />
        </label>
        <label for="directorId">Director:
            <select id="directorId" name="directorId">
                @foreach (var director in Model.Directors)
                {
                    <option value="@director.DirectorId">@director.FirstName @director.Surname</option>
                }
            </select>
        </label>
    </form>
    <button onclick="submitForm()">Submit</button>
</div>

@section scripts
{
    <script type="text/javascript">
        function addNewMovie() {
            $('#addNewMovie').show();
        }

        function submitForm() {
            var data = {
                movieTitle: $('#movieTitle').val(),
                releaseYear: $('#releaseYear').val(),
                directorId: $('#directorId').val()                
            };

            $.ajax({
                url: "/Home/AddNewMovie",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                dataType: "json",
                success: function (response) {
                    if (response.success === true) {
                        var directorName = "fred";
                        $("#movie-table").append("<tr><td>" + data.movieTitle + "</td><td>" + data.releaseYear + "</td><td>" + directorName + "</td></tr>");                        
                    }
                }
            });
        }
    </script>
}