@model ClientSideDevelopment.ViewModels.Home.IndexViewModel
@{   
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="large-12 columns">
        <h1>Film Site <small>Managing your favourite films.</small></h1>
    </div>    
</div>

<div class="row">
    <div class="large-3 columns">
        <div>
            <form id="addNewMovie" data-abide="ajax">
                <div>
                    <label>
                        Title: <small>required</small>
                        <input type="text" id="movieTitle" name="movieTitle" required />
                    </label>
                    <small class="error" data-error-message>Movie title is required.</small>
                </div>
                <div>
                    <label>
                        Release Year: <small>required</small>
                        <input type="text" id="releaseYear" name="releaseYear" required pattern="\d{4}" />
                    </label>
                    <small class="error" data-error-message>Release year is required (YYYY).</small>
                </div>
                <div>
                    <label>
                        Director:
                        <select id="directorId" name="directorId">
                            @foreach (var director in Model.Directors)
                            {
                                <option value="@director.DirectorId">@director.FirstName @director.Surname</option>
                            }
                        </select>
                    </label>
                </div>
                <button type="submit">Add new movie</button>
            </form>            
        </div>
    </div>
    <div class="large-9 columns">
        <table id="movie-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Release Year</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>@movie.Title</td>
                        <td>@movie.ReleaseYear</td>
                        @if (movie.Director != null)
                        {
                            <td>@movie.Director.FirstName @movie.Director.Surname</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<footer class="row">
    <div class="large-12 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
    </div>
</footer>

@section scripts
{
    <script type="text/javascript">
        $(function() {
            $("#addNewMovie").on("valid", function(event) {
                var data = {
                    movieTitle: $('#movieTitle').val(),
                    releaseYear: $('#releaseYear').val(),
                    directorId: $('#directorId').val()
                };

                $.ajax({
                    url: "/Home/AddNewMovie",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (response) {
                        if (response.success === true) {
                            var directorName = $("#directorId option:selected").text();
                            $("#movie-table").append("<tr><td>" + data.movieTitle + "</td><td>" + data.releaseYear + "</td><td>" + directorName + "</td></tr>");
                            $('#movieTitle').val("");
                            $('#releaseYear').val("");
                            $('#directorId').val($("#directorId option:first").val());
                        }
                    }
                });

                event.preventDefault();
            });
        });        
    </script>
}